:root {
  --primary-color: #264351;
  --secondary-color: #fdede3;
  --tertiary-color: #0e4663;
  --third-bis-color: #264351f2;
  --bg-color: #181419;
  --bg-input-color: #2f1b352c;
  --primary-font: "Roboto", sans-serif, helvetica;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: var(--primary-font);
}

header {
  background-color: var(--primary-color);
  padding: 2vh 0;
  height: 5vh;
}

.link-whatsapp {
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

.link-whatsapp img {
  vertical-align: middle;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style-type: none;
  text-align: right;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
}

nav ul li:first-child {
  margin-left: 0;
}

nav ul li:last-child {
  margin-right: 2vw;
}

nav ul li a,
nav > a {
  display: block;
  border-radius: 5px;
  padding: 10px 20px;
  text-decoration: none;
  color: var(--secondary-color);
  transition: background-color 0.3s;
}

.menu-toggle {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: white;
}

.ppal {
  height: 80vh;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  background-color: #264351;
}

.imagen_principal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  z-index: -1;
}

h1,
h2 {
  color: #264351;
  text-decoration: none;
  font-weight: bold;
  position: relative;
  top: 10vh;
  left: 10vw;
  z-index: 2;
}

h1 {
  font-size: 2.8rem;
}

.texto {
  color: var(--secondary-color);
}

@media screen and (max-width: 980px) {
  nav ul {
      display: none;
      flex-direction: column;
      width: 100%;
      text-align: center;
      background-color: var(--primary-color);
  }

  nav ul.active {
      display: flex;
  }

  .menu-toggle {
      display: block;
  }

  h1 {
      font-size: 1.7rem;
  }

  h2 {
      font-size: 1rem;
  }

  .texto {
      font-size: 0.8rem;
  }
}

@media screen and (min-width: 980px) {
  .menu-toggle {
      display: none;
  }
}

.nosotros {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.conteiner_nosotros {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.contenedor {
  padding: 10px;
  margin-bottom: 10px;
}

.h3_contenedor {
  font-size: 2rem;
}

.a_contenedor {
  padding: 0.5rem;
}

.conteiner_cuadro {
  font-size: 1.1rem;
  width: 30rem;
  height: 10rem;
}

.conteiner_ul {
  font-size: 1.3rem;
  display: flex;
  list-style-type: none;
  gap: 2rem;
}

.conteiner_ul li a {
  text-decoration: none;
}

.conteiner_ul_li a {
  display: block;
  border-radius: 5px;
  padding: 10px 20px;
  text-decoration: none;
  background-color: #264351;
  color: var(--secondary-color);
  transition: background-color 0.3s;
  z-index: 2;
}

.conteiner_ul_li a:hover {
  background-color: var(--bg-input-color);
}

.nosotros .imagen_nosotros {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  z-index: -1;
}

.carrusel-container {
  width: 100%;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  display: flex;
}

.imagen_carrusel {
  scroll-snap-align: start;
  flex: 0 0 auto;
  width: calc(100% / 4);
  height: 30vh;
}

@media screen and (max-width: 980px) {
  h3 {
      font-size: 1.2rem;
  }

  .nosotros .conteiner_cuadro {
      font-size: 0.8rem;
      padding: 1rem;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
  }

  .conteiner_ul_li a {
      margin: 1rem;
      padding: 4px 8px;
      margin-top: 0.5px;
  }
}

.servicios {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.enum {
  height: 40vh;
}

h4 {
  display: flex;
  font-size: 2rem;
  justify-content: center;
}

.enum_servicios {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 3rem;
  gap: 2rem;
  font-size: 1.5rem;
}

.enum_uno a {
  font-size: 3rem;
}

* .img_casilla {
  margin: 1rem;
}

* .casilla {
  height: 60vh;
}

.casilla_uno {
  display: flex;
  gap: 0.1rem;
  justify-content: space-around;
  align-items: center;
}

.casilla_dos {
  display: flex;
  gap: 0.1rem;
  justify-content: space-around;
  align-items: center;
}

h5 {
  font-size: 1.5rem;
}

@media screen and (max-width: 980px) {
  h4 {
      font-size: 1.2rem;
  }

  .enum_servicios {
      font-size: 0.8rem;
  }

  .enum_uno a {
      font-size: 1rem;
  }

  h5 {
      font-size: 0.7rem;
  }

  .img_casilla {
      width: 7rem;
      height: 7rem;
  }

  .texto {
      font-size: 0.8rem;
  }
}
