html, body{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.container{
  width: 100%;
  height: 100%;
  
}




 /*HEADER/FOOTER*/
 .nav{
   /*predisponemos a los padres a comportamiento de grillas*/
   display: flex;
   align-items: center;
   justify-content: space-between;
   /*valor de los vacios o gap*/
   gap: 10px;
   /*geometria*/
   padding: 0;
   margin: 0;
   
   height: 10vh;
 }
 span{
   font-size: 3rem;
   font-weight: bold;
   color: #1a0b0b;
   margin-left: 2rem;

 }
 .dropdown-content li a{
   text-decoration: none;
   color: #fff;
   font-size: 1rem;
   font-weight: bold;
   margin-right:1rem ;

 }
/*MENU DESPLAGABLE*/
.header ul li .dropdown-content{
  /*Personalizamos la posicion de drop...*/
  position:absolute;

  /*ubicamos la caja drop*/
  top: 7.3vh;
  right:0;

  /*Ubicamos el contenido de drop en columna*/
  display:flex;
  

  /*predisponemos a drop a una transicion*/
  transition:all 0.5s;
  opacity:0;
 
} 

.header ul{
  position:relative;
}
.header ul li:hover .dropdown-content{
  opacity:1;
}
.nav ul li{
  list-style: none;
  
}
/*estilos al menu desplegable*/
.header ul li .dropdown-content li{
  padding:20px 40px;
  transition: 0.3s;
  list-style: none;
 
    
 
}
.header .dropdown-content:hover{
 background-color: #575757;

}
.nav ul li .carrito{
  width: 3rem;
  margin-right: 2rem;
  
}

.lista_cursos{
  
  
  color: #fff;
}


.container_hero{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto 60hv;
 

  
}
.img_ppal{
  width: 100vw;
  height: 60vh;
  grid-column: 1/13;
  grid-row: 1/9;
}

h2{
  grid-column: 7/11;
  grid-row: 2;
  color: #fff;
  font-size: 3rem;
  align-items: center;
  justify-content: center;
}
p{
  grid-column: 8/11;
  grid-row: 4;
  color: #fff;
  font-size: 1.5rem;
  margin-top: 0%;
}

.formulario {
grid-column: 8/10;
grid-row: 3;
}


.u-full-width {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.submit-buscador {
  grid-column: 10;
  grid-row: 4;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 10rem;
  margin-top: 0.8rem;;
}

.submit-buscador:hover {
  background-color: #0056b3;
}
.container_hero .row{
  
  background: linear-gradient(to right, rgb(117,29,81), rgb(222,75,82));
  

}

.barra{
  height: 10vh;
 
  
}

.barra .row{
  background: linear-gradient(to right, rgb(117,29,81), rgb(222,75,82));
    /* También puedes usar 'to left' para invertir la dirección del degradado */
    /* background: linear-gradient(to left, rgb(117,29,81), rgb(222,75,82)); */
 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

  

}
.icon3 {
  grid-column: 10/12;

  font-size: 0.5rem;
}
.icon2 {
  grid-column: 6/8;

  font-size: 0.5rem;
}
.icon1 {
  grid-column: 2/4;
 
  font-size: 0.5rem;
}
.barra .row p{
  font-size: 1rem;
}

.product{
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
 
}
.dropdown-content:hover{
  grid-column: 10;
  grid-row: 2;
}
h3{
  grid-column: 6/8;
  grid-row: 1;
  font-size: 3rem;
}
.a{
  grid-column: 3;
  grid-row: 2;
}
.b{
  grid-column: 5;
  grid-row: 2;
}
.c{
  grid-column: 9;
  grid-row: 2;
}
.d{
  grid-column: 11;
  grid-row: 2;
}

.e{
  grid-column: 3;
  grid-row: 4;
}
.f{
  grid-column: 7;
  grid-row: 2;
}
.uno{
  grid-column: 5;
  grid-row: 4;
}
.dos{
  grid-column: 7;
  grid-row: 4;
}
.tres{
  grid-column: 9;
  grid-row: 4;
}
.cuatro{
  grid-column: 11;
  grid-row: 4;
}
.cinco{
  grid-column: 3;
  grid-row: 6;
}

/* Estilos para el pie de página */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  background-color: #264351;
}

